*{
    margin: 0;
    padding: 0;
}
.sidebar_body{
    z-index: 10000;
    border-radius: 20px 0 0 20px;
    box-shadow: 4px 0 3px rgb(0 101 214 / 36%);
    height: 100%;
    width: 30%;
    background-color: #252837;
    flex-direction: column;
}
.sidebar_header {
    border-radius: 2rem 0 0 2rem;
    background-color: #3457D5;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: 12%;
    align-items: center;
    box-shadow: -1px 2px 5px cyan; /* Add box shadow */
}


.sidebar_header_right>svg{
    margin-top: 9px;
}
svg{
    
    color: rgb(225, 227, 227);
    font-size: 25px;
    
}
.usericon{
    font-size: 35px;
    
    
}
.sidebar_header_right{
    gap:8px;
    display: flex;
    margin-top: 4.5px;
} 
.sidebar_search{
    display: flex;
    margin-top: 1.2rem;
    align-items: center;
    height: 40px;
    padding: 10px;
    background-color:#252837;

}
.search_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 35px;
    border-radius: 20px;
    background-color:#161414;
}
.search_container>input{
    border: none ;
    margin-left: 10px;
    width: 90%;
    background:transparent;
    box-shadow: none;
    outline: none;
    
}
.search_container>input::placeholder{
    color: #fff;
}
.search_container>svg{
    position: relative;
    left: -7px;
    padding: 2.4px;
}
.sidebar_chats{
    flex:1;
    background-color:#161414 ;
    overflow:scroll ;
    margin: 10px 10px 0px 10px;
    border-radius: 10px;
    

}
.sidebar_chats::-webkit-scrollbar{
    display: none ;
    
}
.adduser{
    cursor: pointer;
}

