.Sidebar_Chat{
    display: flex;
    border-bottom: 0.1rem solid rgb(59 130 246 / 0.5);
    gap:10px;
    padding: 10px;
    cursor: pointer;
    
    
}
.Sidebar_Chat:hover{
    background-color:#3457D5 ;
}
.user_info >h2{
    font-size: 20px;
    font-weight: 550;
    /* margin-bottom: 8px; */
    color: #fff;
}
.user_info >p{
    color: #b8bbbf;
}
.user_info{
    margin-left: 10px;
}
.usericon{
    margin-top: 8px;
}
